/*DISPLAY*/


/*Block ocupa todo el ancho de la pantalla*/


/*Inline ocupa el ancho que le digamos de cada elemento*/


/*Inline-block se agrupa uno al lado del otro y ocupa el ancho que le digamos*/


/*Revisar Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/


/*Box-sizing: para que no crezca con el pading = border-box*/


/*Color Hunt https://colorhunt.co/*/


/*Fuentes: https://fonts.google.com/*/
/*Buscar imagenes png de buena calidad: https://www.pngegg.com/es*/

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200&family=Titan+One&display=swap');
body {
    font-family: 'Bungee', cursive;
    background-color: #A5F1E9;
}

.titulo {
    color: #FFFF;
    font-size: 40px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.subtitulo {
    color: #FFEEAF;
    font-size: 24px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjetas2 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.tarjeta-de-mokepon {
    width: 220px;
    height: 160px;
    background-color: #FFFF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

.btn-seleccionar {
    width: 160px;
    height: 40px;
    margin-top: 30px;
    background-color: #FFEEAF;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #A5F1E9;
    font-family: 'Poppins', sans-serif;
}

input {
    display: none;
}

input:checked+label{
    background-color: #A5F1E9;
    color:  white ;
    box-shadow: 1px 1px 10px #A5F1E9;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-ataque {
    background-color: #A5F1E9;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#mensajes{
    background-color: #FFEEAF;
    padding: 1px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar{
    border: transparent;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
}

#vidas-jugador{
    display: grid;
    justify-content: center;
}

#vidas-enemigo{
    display: grid;
    justify-content: center;
}


